@import url('https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cmn-btn-dark-outer:hover .cmn-btn-dark{
    background-color: #D7AC28;
}
.cmn-btn-dark-outer:hover .play-icon-btn{
    filter: brightness(0) invert(1);
}

.banner-para>*:not(:last-child){
    margin-bottom: 10px;
}

.uninuseletter-lists>*:last-child{
    padding-right: 0;
    border-right: none;
}
